// Define variables for your color scheme

// For example:

$red: #d06224;
$text-greenish-black: #313d33;
$dark-green: #66806a;
$light-green: #b4c6a6;
$off-white: #f4f6f3;
$white: #ffffff;
$warning-yellow: yellow;
$danger-red: red;
$info-blue: rgb(92, 92, 252);

