.diary-entry-wrapper {
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
