// Specific CSS for your home-page

.wrapper {
  background-image: asset-url('landing-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.page-wrapper {
  background-image: asset-url('page-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.full-screen {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-align {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.home-headline {
  margin-bottom: 40px;
}

.home-headline h1 {
  font-family: $logo-font;
  font-size: 3.5em;
  margin-bottom: 30px;
}

.home-headline h2 {
  font-size: 1.5em;

}

.home-search {
  width: 800px;
  margin-bottom: 100px;
  padding-bottom: 50px;
}

.home-search h3 {
  font-size: 18px;
  padding-bottom: 8px;
}
