
.header-font {
  padding: 16px;
}
.goals-card {
  background-color: rgb(199, 199, 199);
  border: solid 1px black;
  padding: 16px;
}

.card-resources {
  background-color: rgb(199, 199, 199);
  padding: 16px;

}

.diary-card {
  background-color: rgb(199, 199, 199);
  border: 1px solid black;
  padding: 16px;
}
