.goals-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;
}

.goals {
  background-color: white;
  border-radius: 4px;
  padding: 16px, 4px;
}

.header-font {
  padding: 16px;
  text-align: center;
}

.goals-button,
.goals-header,
.goals-card p {
  margin: 0;
}

.planner-card,
.learning-card {
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;
}

.heading-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-wrapper {
  max-height: 500px;
  overflow: auto;
  display: inline-block;
}

.diary-entry {
  background-color: $dark-green;
  margin-bottom: 4px;
  padding: 4px;
  text-align: center;
}

.diary-entry a {
  color: $white;
}

.diary-btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
}

.card-resources {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
}
.bookmark-header {
  display: flex;
  justify-content: space-between;
}

.footer-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 100px;
}

.goals-card p {
  background-color: $light-green;
  padding: 4px 12px;
  border-radius: 16px;
}

.header .clone-btn {
  float: right;
  top: 20px;
  position: relative;
  display: inline;
}
