.goals-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;
}

.goals {
  background-color: $white;
  text-align: center;

  font-size: 2vmin;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 4px, 4px;
  margin-top: -30px;
  margin-bottom: 10px;
}

.goal {
  margin: 0 12px;
  border-radius: 16px;
  padding: 6px 24px;
  box-shadow: rgba(143, 132, 104, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.goals-heading-edit-button-wrapper {
  display: flex;
}

#goalsEditButton {
  position: relative;
  left: 473px;
  top: -56px;
}

.goal-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.goal-button {
  margin-top: 15px;
}

.header-font {
  padding: 16px;
  text-align: center;
  font-family: $logo-font;
  font-size: 3em;
}

.planner-card,
.learning-card {
  background-color: $white;
  border-radius: 4px;
  padding: 16px;
}

.planner-card {
  margin-bottom: 0px;
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diary-entries {
  height: 75%;
  overflow: auto;
}

.heading-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-wrapper {
  height: 75%;
  overflow: auto;
  display: inline-block;
}

.diary-entry {
  background-color: $dark-green;
  margin-bottom: 4px;
  padding: 4px;
  text-align: center;
}

.diary-entry a {
  color: $white;
}

.diary-btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
}

.card-resources {
  background-color: $white;
  padding: 16px;
  border-radius: 4px;
  height: 100%;
}

.bookmark-header {
  display: flex;
  justify-content: space-between;
}

.bookmarks-list {
  max-height: 90%;
  overflow: auto;
}

.footer-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 100px;
}

.header .clone-btn {
  float: right;
  top: 20px;
  position: relative;
  display: inline;
}
