.nav {
  margin-top: 24px;
}


.welcome-header {
  font-size: 40px;
}


.top-margin {
  padding-top: 24px;
  padding-left: 50px;
  padding-bottom: 12px;
  font-size: 40px;
}

.text-btm {
  padding-bottom: 18px;
}
