<div class="page-footer">
  <div class="container">
    <div class="row page-footer">
      <div class="col">
        <h3>Address</h3>
        <ul>
          <li>From The Ground Up</li>
          <li>Suite 12, 100 Leafy Ave</li>
          <li>Melbourne, VIC, 3000</li>
        </ul>
      </div>
      <div class="col">
        <h3>Follow</h3>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Linked In</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Legal</h3>
        <ul>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
      <div class="col">
        <div class="footer-logo">From The Ground Up</div>
      </div>
    </div>
  </div>
</div>
