.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: $light-green;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
