.resources {
  width: 40%;
}

.resource-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.resource-card a {
  text-decoration: none;
}

.resource-img img {
  width: 150px;
  height: 150px;
  padding-right: 16px;
  object-fit: cover;
}

.resource-trash {
  position: absolute;
  right: 8px;
  top: 8px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

.resource-trash:hover {
  opacity: 1;
  text-decoration: none;
}

.resource-trash:hover a {
  text-decoration: none;
}

.dflex {
  display: flex;
  flex-direction: row;
}
.resource-title,
.resource-link {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resource-link {
  color: lightgrey;
  font-size: 0.8em;
  margin: 0;
}

.resource-description {
  width: 500px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resource-resouces {
  display: flex;
  justify-content: space-between;
}
