<div class="container">
  <div class="form-container">
      <h1>Start Listing</h1>
      <p>Create a new plan in seconds!</p>
    <%= simple_form_for @plan do |f| %>
      <%= f.input :name %>
      <%= f.submit "Create new plan", class: "btn btn-primary button-form" %>
    <% end %>
  </div>
</div>
<%= link_to "Back", :back, class: "btn btn-primary" %>
