<h2>Plan name:</h2>
<p><%= @plan.name %></p>
<h2>Plan tags:</h2>
<p><%= @plan.tag_list %></p>
<h2>Plan category:</h2>
<p><%= @plan.category_list %></p>

<%= link_to "Back", :back, class: "btn btn-primary" %>
