<h2>Plan name: <%= @plan.name %></h2>

<%= link_to "Back", :back, class: "btn btn-primary" %>

<% if user_signed_in? %>
  <% if @plan.user.id == current_user.id %>
    <%= link_to 'Destroy', plan_path(@plan), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
  <% end %>
<% end %>
